spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: discovery-service
  profiles:
    active: dev  
security:
  jwt:
     duration: 86400
     signing-key: fitness-rest-application-dev-secret-key    